<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>CommentForm</title>
</head>

<body>

		<header>
        <a href="index.html" th:href="@{/}"><img
                src="../public/img/site-logo.png" th:src="@{/img/site-logo.png}" /></a>
        <a href="index.html" th:href="@{/}">Logout</a>
        </header> 


<h2>Write a comment</h2>
<form method="post" th:object="${comment}">

    <label for="label"> Comment:</label>
    <input type="text" th:field="*{label}" th:required="required" />
    <input type="submit" value="Comment" />
</form>

</body>

<footer th:replace="layout :: site-footer" />
</html>

